/* Reset some basic styles for the body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
  }
  
  .center-container {
    text-align: center;
  }
  
  .centered-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 50px; /* Set font size */
    color: grey; /* Set text color */
  }
  
  .centered-list li {
    margin: 10px 0; /* Optional: add some margin between list items */
  }
  
  .centered-list a {
    text-decoration: none;
    color: grey; /* Initial color */
    transition: color 0.3s ease; /* Smooth transition for color change */
  }
  
  .centered-list a:hover {
    color: white; /* Color on hover */
  }
  
  * Background image changes on hover for each item */
.centered-list .item1:hover {
  background-image: url('../../assets/HOME.png');
  background-size: cover; /* Ensure the image covers the entire element */
}

.centered-list .item2:hover {
  background-image: url('../../assets/PROJECTS.png');
  background-size: cover;
}

.centered-list .item3:hover {
  background-image: url('../../assets/BLOGS.png');
  background-size: cover;
}

.centered-list .item4:hover {
  background-image: url('../../assets/ABOUT.png');
  background-size: cover;
}

.centered-list .item5:hover{
    background-image: url('../../assets/CONTACT.png');
    background-size: cover;
  }