.App {
    font-family: sans-serif;
    text-align: center;
    background-color: #0D1117;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text {
    font-size: 36px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
   background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }