/* Education.css */
.education {
    margin-bottom: 20px;
    width: 300px;
  }
  
  .education ul {
    list-style-type: none;
    padding: 0;
  }
  
  .education li {
    margin-bottom: 10px;
  }
  .edu-head{
    margin-bottom: 20px;
  }