/* Gallery.css */
.gallery {
    margin-bottom: 20px;
    width: 300px;

  }
  
  .gallery button {
    margin-bottom: 10px;
  }
  
  .gallery-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .gallery-images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .edu-head{
    margin-bottom: 20px;
  }