 
  .header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 1000;
  }
  .logoImg{
    height: 80px;
    width: 80px;
    border: 5px solid white;
    border-radius: 100%;
    transition: transform 0.5s ease;
    margin: 10px 20px;
  }
  .logoImg:hover {
    cursor: pointer;
    transform: rotate(45deg) scale(1.2); /* Rotate the image 45 degrees on hover */
  }
  .menu{
    color:white;
    height: 3em;
    width: 3em;

  }
  /* Reset basic styles for the body and ensure it covers the viewport */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333; /* Optional: background color for contrast */
    color: white; /* Default text color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .menu-container {
    text-align: center;
    margin: 10px 20px;
  }
  
  .menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    padding-right: 500px;
  }
  
  .menu-list li {
    font-size: 20px; /* Set font size */
    margin: 10px 0; /* Add margin between items */
    padding: 10px 0; /* Add padding for better hover effect */
    transition: color 0.3s ease, border-bottom 0.3s ease; /* Smooth transition for color and underline */
    cursor: pointer; /* Change cursor to pointer on hover */
   
   
  }
  .menu-list li a{
    font-size: 20px; /* Set font size */
    margin: 10px 0; /* Add margin between items */
    padding: 10px 0; /* Add padding for better hover effect */
    transition: color 0.3s ease, border-bottom 0.3s ease; /* Smooth transition for color and underline */
    cursor: pointer;
    list-style:none;
    text-decoration: none;
    color: rgb(148, 146, 146);
  }
  
  .menu-list a:hover {
    color: white; /* Text color on hover */
    border-bottom: 2px solid white; /* White underline on hover */
  }
  