.skills-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 70px;
    gap: 10px;
    align-items: center;
    /* max-width: 1200px; */
    margin-left: 100px;
    margin-right: 100px;

}
.skill-heading{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}
.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  
  .card {
    background-color: #b1afaf;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px; /* Minimum height to ensure a balanced look */
    max-height: 500px; 
    transition: 0.3s ease-in-out;/* Maximum height to keep cards from being too large */
  }
  
  .card:hover {
    transform: translateY(-10px);
    background-color: white;
    transition: 0.3s ease-in-out;
  }
  
  .card h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .card ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
  }
  
  .card li {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
  }
  
  .card:last-child {
    justify-content: flex-start;
  }
